<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <style>
      .list{
        margin-top: 100px;
      }
    </style>
  </head>
  <body ng-app="coffeeCalculator">

    <ion-pane ng-controller="mainCtrl">

      <ion-content>
        <div class="list">

          <div class="row">
            <div class="col col-75 col-offset-10">
              <!-- <div class="list list-inset ">

                  <input type="text" placeholder="Ounces of coffee">

                <button ng-click="" class="button button-block button-balanced">
                  submit
                </button>
              </div> -->
              <img src= "../design/coffeecup.png">
              <div class= "question-prompt">How much coffee do you want?</div>
              <form ng-submit="calculate()">
                <input type="text" ng-model="ounces" class="coffee-input" size="30" placeholder="Ounces">
                <input class="button coffee-btn" type="submit" value="submit">

              <ul>
                <li>esto es lo que metiste:{{ounces}}</li>
                <li>15g Coffee {{beanQty}}</li>
                <li>400g water {{waterQty}}</li>
                <li>30g first pour {{firstPour}}</li>
                <li>370 second pour {{secondPour}}</li>
              </ul>
            </form>
            </div>
          </div>

        </div>
      </ion-content>
    </ion-pane>
  </body>
</html>
